##**Importing necessary libraries**

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,f1_score,recall_score,precision_score
import warnings
warnings.filterwarnings('ignore')

##**Importing the dataset**

In [2]:
#Loading dataset
df=pd.read_csv("spam.csv", encoding="latin1")

In [3]:
#Check column list present in df
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [5]:
df.shape

(5572, 5)

In [6]:
#Checking null values
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [7]:
#Statastically analyzing
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [8]:
df.drop(columns = df[['Unnamed: 2','Unnamed: 3','Unnamed: 4']], axis=1, inplace = True)

In [9]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [10]:
#Rename columns names for easy understanding; we can also use df.rename
df.columns=['spam/ham','email']

In [11]:
#Convert the text data into numerical form
df.loc[df['spam/ham'] == 'spam', 'spam/ham'] = 0
df.loc[df['spam/ham'] == 'ham', 'spam/ham'] = 1

In [12]:
df

     spam/ham                                              email
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1              Will Ì_ b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
X = df.email
y = df['spam/ham']

In [14]:
#Divide the whole dataset into training and testing set for model training
from sklearn.model_selection import train_test_split

In [15]:
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state = 42)

In [16]:
print(X.shape)
print(xtrain.shape)
print(xtest.shape)

(5572,)
(4457,)
(1115,)

In [17]:
xtrain, xtest

(1978    No I'm in the same boat. Still here at my moms...
 3989    (Bank of Granite issues Strong-Buy) EXPLOSIVE ...
 3935       They r giving a second chance to rahul dengra.
 4078       O i played smash bros  &lt;#&gt;  religiously.
 4086    PRIVATE! Your 2003 Account Statement for 07973...
                               ...
 3772    I came hostel. I m going to sleep. Plz call me...
 5191                               Sorry, I'll call later
 5226        Prabha..i'm soryda..realy..frm heart i'm sory
 5390                           Nt joking seriously i told
 860                   In work now. Going have in few min.
 Name: email, Length: 4457, dtype: object,
 3245    Funny fact Nobody teaches volcanoes 2 erupt, t...
 944     I sent my scores to sophas and i had to do sec...
 1044    We know someone who you know that fancies you....
 2484    Only if you promise your getting out as SOON a...
 812     Congratulations ur awarded either å£500 of CD ...
                               ...
 4264     &lt;DECIMAL&gt; m but its not a common car he...
 2439    Rightio. 11.48 it is then. Well arent we all u...
 5556    Yes i have. So that's why u texted. Pshew...mi...
 4205                               Get the door, I'm here
 4293    Kit Strip - you have been billed 150p. Netcoll...
 Name: email, Length: 1115, dtype: object)

In [18]:
ytrain, ytest

(1978    1
 3989    0
 3935    1
 4078    1
 4086    0
        ..
 3772    1
 5191    1
 5226    1
 5390    1
 860     1
 Name: spam/ham, Length: 4457, dtype: object,
 3245    1
 944     1
 1044    0
 2484    1
 812     0
        ..
 4264    1
 2439    1
 5556    1
 4205    1
 4293    0
 Name: spam/ham, Length: 1115, dtype: object)

#### As we know that, machine learning algorithms only performs well with respect to numbers,so we need to convert all the text data into numbers.To do so I will use TfidfVectorizer techinque from feature_extraction of sklearn.

In [19]:
feat_vect = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = True)
feat_vect

TfidfVectorizer(stop_words='english')

In [20]:
ytrain = ytrain.astype('int')
ytest = ytest.astype('int')

In [21]:
xtrain_vec = feat_vect.fit_transform(xtrain)

In [22]:
xtest_vec = feat_vect.transform(xtest)

In [23]:
print(xtrain)

1978    No I'm in the same boat. Still here at my moms...
3989    (Bank of Granite issues Strong-Buy) EXPLOSIVE ...
3935       They r giving a second chance to rahul dengra.
4078       O i played smash bros  &lt;#&gt;  religiously.
4086    PRIVATE! Your 2003 Account Statement for 07973...
                              ...
3772    I came hostel. I m going to sleep. Plz call me...
5191                               Sorry, I'll call later
5226        Prabha..i'm soryda..realy..frm heart i'm sory
5390                           Nt joking seriously i told
860                   In work now. Going have in few min.
Name: email, Length: 4457, dtype: object

In [24]:
print(xtrain_vec)

  (0, 4520)	0.4658046386365619
  (0, 3210)	0.348722265231364
  (0, 7415)	0.348722265231364
  (0, 1706)	0.3431839629173582
  (0, 4416)	0.4528381701109944
  (0, 1371)	0.4658046386365619
  (1, 0)	0.2654936554684193
  (1, 1649)	0.3059746053542906
  (1, 6440)	0.2953742837684993
  (1, 4533)	0.3059746053542906
  (1, 419)	0.28715203556385105
  (1, 4292)	0.2953742837684993
  (1, 5005)	0.1937920260229529
  (1, 2661)	0.3059746053542906
  (1, 1533)	0.2015782058421696
  (1, 6296)	0.269833648032668
  (1, 3631)	0.2804339696184593
  (1, 3140)	0.3059746053542906
  (1, 1187)	0.26161139982801973
  (2, 2190)	0.5102109014477275
  (2, 5351)	0.5102109014477275
  (2, 1674)	0.35156722029872034
  (2, 5770)	0.3962151014046925
  (2, 3061)	0.44585171875646595
  (3, 5484)	0.4829129976175997
  :	:
  (4451, 5740)	0.3358090891373877
  (4451, 4686)	0.3478605253385091
  (4452, 3402)	0.4536077050510107
  (4452, 3423)	0.4833413012939851
  (4452, 1579)	0.3576443319642905
  (4452, 1781)	0.3311324953642251
  (4452, 5998)	0.3311324953642251
  (4452, 5070)	0.3823754823843719
  (4452, 3085)	0.25923599228241945
  (4453, 6102)	0.5894401977366341
  (4453, 3896)	0.6138307933697735
  (4453, 4022)	0.5251399912435084
  (4454, 6108)	0.44743083090000146
  (4454, 2938)	0.3775064911532845
  (4454, 5413)	0.40874206042479744
  (4454, 6109)	0.44743083090000146
  (4454, 5161)	0.43497582872738466
  (4454, 3282)	0.31753127203477105
  (4455, 6701)	0.40997629646174116
  (4455, 5819)	0.5321975225970689
  (4455, 4674)	0.47741741602516974
  (4455, 3720)	0.5663548747533713
  (4456, 4332)	0.6196072009518515
  (4456, 7301)	0.5938942231507836
  (4456, 3085)	0.5132022683472269

In [25]:
print(xtest_vec)

  (0, 7229)	0.2947064107791228
  (0, 6816)	0.4006242977875035
  (0, 4543)	0.38197308370768035
  (0, 3752)	0.1718556592061185
  (0, 3457)	0.3500886226408095
  (0, 3239)	0.34299776014114036
  (0, 2974)	0.34299776014114036
  (0, 2679)	0.3500886226408095
  (0, 1756)	0.31111329907426943
  (1, 6607)	0.27039238853977376
  (1, 6604)	0.19484478334547534
  (1, 5812)	0.22078293973996208
  (1, 5744)	0.35520030142077386
  (1, 5739)	0.35520030142077386
  (1, 5738)	0.25559165628741076
  (1, 5532)	0.33866381848750327
  (1, 4760)	0.29866169283344046
  (1, 3716)	0.3178303138520559
  (1, 2651)	0.3269309971271071
  (1, 1970)	0.2461378627103295
  (1, 1934)	0.22392171769600464
  (2, 5075)	0.4020147546075029
  (2, 4106)	0.5120683436791947
  (2, 3835)	0.4855870501823454
  (2, 2707)	0.4882288103453305
  :	:
  (1110, 4022)	0.191596066847086
  (1110, 3363)	0.3742235014841453
  (1110, 3174)	0.19113154928290435
  (1110, 2651)	0.3742235014841453
  (1110, 2148)	0.301483654608874
  (1110, 1869)	0.3876535449194833
  (1110, 1745)	0.3876535449194833
  (1110, 1599)	0.27571108916401915
  (1110, 1533)	0.2553888613819584
  (1110, 1290)	0.2786297663784045
  (1111, 4435)	0.28908947793418216
  (1111, 2451)	0.3367130616672642
  (1111, 1459)	0.4550535681498989
  (1111, 1012)	0.4772732005778383
  (1111, 503)	0.4772732005778383
  (1111, 268)	0.37469777419250544
  (1112, 7404)	0.4289846764490662
  (1112, 6561)	0.6933358898870733
  (1112, 4362)	0.5790142409011977
  (1113, 2362)	1.0
  (1114, 5073)	0.39613661729871547
  (1114, 4580)	0.5231241609003211
  (1114, 1408)	0.3874225337880653
  (1114, 1309)	0.5418979155552347
  (1114, 305)	0.35449587042389225

##**Training the Logistic Regression model on the Training set**

In [26]:
lr = LogisticRegression()

In [27]:
lr.fit(xtrain_vec,ytrain)

LogisticRegression()

In [28]:
pred_lr = lr.predict(xtest_vec)
pred_lr

array([1, 1, 1, ..., 1, 1, 1])

In [29]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [30]:
#Accuracy of the model
accuracy_score(ytest, pred_lr)

0.9524663677130045

In [31]:
print(classification_report(ytest,pred_lr))

              precision    recall  f1-score   support

           0       0.97      0.67      0.79       150
           1       0.95      1.00      0.97       965

    accuracy                           0.95      1115
   macro avg       0.96      0.83      0.88      1115
weighted avg       0.95      0.95      0.95      1115